<div class="container">
  @if (song.hasValue()) {
    <div class="hstack gap-3">
      <h3>{{ song.value().title }}</h3>
      <div class="hstack gap-1 ms-auto">
        <button class="btn btn-secondary" type="button" [routerLink]="['/update-song', song.value().id]">Update</button>
        <button class="btn btn-danger" type="button" [disabled]="isDeleting()" (click)="onDelete()">Delete</button>
      </div>
    </div>
    <div class="bg-body-secondary rounded mt-3 p-5 text-center">
      <p class="mb-0" [innerText]="song.value().lyrics"></p>
    </div>
  }
  @else {
    <div class="text-center">
      <div class="spinner-border text-dark"></div>
    </div>
  }
</div>
