<div class="container">
  <a class="navbar-brand" routerLink="/">Roll Away Your Stone</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarContent">
    @if (user) {
      <span class="navbar-text ms-auto">{{user.email}}</span>
    }
    @else {
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up" routerLinkActive="active">Sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign-in</a>
        </li>
      </ul>
    }
  </div>
</div>
